<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Nail Services</title>
    <link rel="stylesheet" href="/css/package1.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Inter:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>

  <section class="package-section">
    <h1 class="section-title">Classic Bridal Package</h1>
   
    <div class="service-item">

      <div class="service-left">
        <h2>Hair</h2>
        <p>Bridal Hair Styling (on the day)</p>
      </div>
    </div>


    <div class="service-list">
      <div class="service-item">
        <div class="service-left">
          <h2>Nails</h2>
          <p>Manicure & Pedicure (with polish)</p>
        </div>
      </div>
      <div class="service-item">
        <div class="service-left">
          <h2>Make-Up</h2>
          <p> A flawless, elegant look that enhances natural beauty without appearing too heavy</p>
        </div>
      </div>

      <div class="service-item">
        <div class="service-left">
          <h2>Face</h2>
          <p>Brow Shaping & Threading</p>
        </div>
      </div>

    </div>
    <div class="add-to-cart-wrapper">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    
  </section>

</body>
</html>

